.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  &__top {
    display: flex;
  }
  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  &__text {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: #fff;
    max-width: 70%;
  }
  &__bottom {
    font-size: 12px;
    margin-top: 10px;
  }
}

.message.own {
  align-items: flex-end;
  .message__text {
    background-color: rgb(245, 241, 241);
    color: black;
  }
}
