.profile {
  display: flex;
  &__right {
    flex: 9;
    &__top {
      height: 340px;
      position: relative;
    }
    &__bottom {
      display: flex;
    }
  }
  &__background__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  &__user__img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: 0 auto;
    border: 3px solid #fff;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    &__username {
      font-size: 24px;
    }
    &__desc {
      font-weight: 300;
    }
  }
}
